S07_01_HypothesisTesting 

Aprèn a realitzar test d'hipòtesis amb Python.
Nivell 1
- Exercici 1

Agafa un conjunt de dades de tema esportiu que t'agradi i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Dades sobre fets, denúncies i trencaments de condemna per violència domèstica (Mossos d'Esquadra Open Data)
#https://mossos.gencat.cat/ca/els_mossos_desquadra/indicadors_i_qualitat/dades_obertes/cataleg_dades_obertes/

crime = pd.read_csv("/Users/fiorelliris/Documents/Coding/PYTHON/Sprint6/FetsMossos.csv")
crime.head(5)

,Any,Trimestre,Edat,Tipologia,Àmbit,Fet principal sense trencament de condemna,Trencament de condemna,Denúncies
0,2011,1r,>65,Violència domèstica,Persones grans,196,15,138
1,2011,2n,>65,Violència domèstica,Persones grans,286,28,188
2,2011,3r,>65,Violència domèstica,Persones grans,308,27,209
3,2011,4t,>65,Violència domèstica,Persones grans,245,27,181
4,2011,1r,<18,Violència domèstica,Menors,162,6,130

    Null Hypothesis: the hypothesis that sample observations result purely from chance. The null hypothesis tends to state that there’s no change.
    Alternative Hypothesis: the hypothesis that sample observations are influenced by some non-random cause.
    P-value: the probability of obtaining the observed results of a test, assuming that the null hypothesis is correct; a smaller p-value means that there is stronger evidence in favor of the alternative hypothesis.
    Alpha: the significance level; the probability of rejecting the null hypothesis when it is true — also known as Type 1 error.
    The main rule in determining whether you reject the null is simple, PGADRN
    If the P-value is Greater than the Alpha, Do not Reject the Null.

In [3]:
crime_denu_ambit_menors= crime[crime["Àmbit"] == "Menors"]
crime_denu_ambit_menors= crime_denu_ambit_menors.groupby(["Any", "Àmbit"]).sum(["Denúncies"])
crime_denu_ambit_menors.head(5)

,,Fet principal sense trencament de condemna,Trencament de condemna,Denúncies
Any,Àmbit,,,
2011,Menors,864,20,584
2012,Menors,1256,46,839
2013,Menors,1351,25,916
2014,Menors,1534,53,1423
2015,Menors,1645,90,1640

In [4]:
crime_denu_ambit_menors.mean()

Fet principal sense trencament de condemna    1492.181818
Trencament de condemna                          65.818182
Denúncies                                     1353.090909
dtype: float64

Test

Null hypothesis    H₀:= 66
Alternative hypothesis    H₁: > 66

In [9]:
#Renaming columns 
crime_tidy = crime_denu_ambit_menors.rename(columns = {"Fet principal sense trencament de condemna": "Fet_principal", "Trencament de condemna": "Trencament_condemna", "Denúncies": "Denuncies"}, inplace = False)
crime_tidy.head(5)

             Fet_principal  Trencament_condemna  Denuncies
Any  Àmbit
2011 Menors            864                   20        584
2012 Menors           1256                   46        839
2013 Menors           1351                   25        916
2014 Menors           1534                   53       1423
2015 Menors           1645                   90       1640

In [18]:
#P-value
from scipy import stats
r,p = stats.pearsonr(crime_tidy.Denuncies,crime_tidy.Trencament_condemna)
print("Correlation: ", round (r,4),"P-VALUE: ", round(p,4))

Correlation:  0.8602 P-VALUE:  0.0007

In [26]:
#P-value
#Denúncies Mean = 1353.090909

tset, pval = stats.ttest_1samp(crime_tidy.Denuncies, 1353)
print("p-values",pval)

if pval < 0.05:    # alpha value is 0.05 or 5%
   print("we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

p-values 0.999393041892781
we are accepting null hypothesis